In [1]:
mylist = ['avengers','msdhoni','godzilla','kingkong']
for movie in mylist:
    print(movie)

avengers
msdhoni
godzilla
kingkong

In [2]:
type(mylist)

list

In [3]:
print('enter 2 favourite movies or yours')
a = input()
b = input()
mylist.append(a)
mylist.append(b)
print(mylist)

enter 2 favourite movies or yours
golmal
lakshya
['avengers', 'msdhoni', 'godzilla', 'kingkong', 'golmal', 'lakshya']

In [4]:
print(mylist[1:6:2])

['msdhoni', 'kingkong', 'lakshya']

In [5]:
total = 0
i = 0
mylist = [12, 4, 6, 8, 5]
while(i < len(mylist)):
    total= total + mylist[i]
    i += 1
    
    print( total)

12
16
22
30
35

In [6]:
rows = int(input("enter the number of rows."))
for i in range (1,rows+1):
    for j in range (1,i+1):
        print(j,end='')
    print("")

enter the number of rows.5
1
12
123
1234
12345